/* body {
    background-color: #f5deb3;
} */

/* h1 {
    font-size: 2.5rem; text-align: left;
} */

/* .card {
    border: none; border-radius: 0.7rem; overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #f5deb3; width : 300px; height: 200px;
    color: #f5deb3;
    
    
} */

/* .card-title {
    font-size: 1.25rem; color: #000000;
   
} */

/* .card-text small {
   
    font-size: 0.875rem;
} */

/* .btn-link {
    color: #000; text-decoration: underline; text-align: left;
} */

/* .btn-link:hover {
    color: #0056b3;
    text-decoration: none;
} */
